[submodule "firmware/components/lib_espidf_canbus"]
	path = firmware/components/lib_espidf_canbus
	url = https://github.com/Zakhar-the-Robot/lib_espidf_canbus.git
[submodule "firmware/components/lib_zakhar_faces"]
	path = firmware/components/lib_zakhar_faces
	url = https://github.com/Zakhar-the-Robot/lib_zakhar_faces.git
[submodule "schematic/lib_kicad"]
	path = schematic/lib_kicad
	url = https://github.com/Zakhar-the-Robot/lib_kicad.git
[submodule "firmware/components/lib_espidf_ESP32Servo"]
	path = firmware/components/lib_espidf_ESP32Servo
	url = https://github.com/ShellAddicted/ESP32Servo
